// Create Task
.create-task {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .task-title {
        font-size: 1.6rem;
        font-weight: 400;
        color: $light;
    }
}

// Task

.tasks {
    display: flex;
    flex-wrap: wrap;

    .task-card {
        display: flex;
        flex-direction: column;
        width: 23%;
        background-color: $dark;
        color: $light;
        border-radius: 15px;
        padding: 20px;
        margin: 10px;

        @media only screen and (max-width: 1038px) {
            width: 31%;
        }

        @media only screen and (max-width: 888px) {
            width: 47%;
        }

        @media only screen and (max-width: 706px) {
            width: 46.8%;
        }

        @media only screen and (max-width: 655px) {
            width: 45.9%;
        }

        @media only screen and (max-width: 519px) {
            width: 100%;   
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
    
            .user-info {
                @include centerFlex;
    
                .user-photo {
                    margin-right: 10px;
                    position: relative;
    
                    .u-photo {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
    
                    .action {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        left: 35px;
                        top: 32px;
                        border-radius: 50%;
                        background-color: $dark;
                    }
                }
    
                .u-info {
                    display: flex;
                    flex-direction: column;
    
                    .username {
                        font-size: 1rem;
                        font-weight: 400;
                        color: $light;
                    }
    
                    .action {
                        color: $secondary;
                        font-size: 0.8rem;
                        font-weight: 400;
                    }
    
                }
            
            }
    
            i {
                color: $grey;
            }
        }
    
        .card-content {
            margin-bottom: 20px;
            
            img {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                height: 180px;
                border-radius: 15px;

                @media only screen and (max-width: 655px) {
                    width: 100%;  
                }

            }
        }
    
    }

}