// Create Task
.create-task {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .task-title {
        font-size: 1.6rem;
        font-weight: 400;
        color: $light;
    }
}

// Task

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-template-rows: repeat(200px 1fr 1fr);
    grid-gap: 15px;

    .task-card {
        display: flex;
        flex-direction: column;
        background-color: $dark;
        color: $light;
        border-radius: 15px;
        padding: 20px;

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
    
            .user-info {
                @include centerFlex;
    
                .user-photo {
                    margin-right: 10px;
                    position: relative;
    
                    .u-photo {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
    
                    .action {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        left: 35px;
                        top: 32px;
                        border-radius: 50%;
                        background-color: $dark;
                    }
                }
    
                .u-info {
                    display: flex;
                    flex-direction: column;
    
                    .username {
                        font-size: 1rem;
                        font-weight: 400;
                        color: $light;
                    }
    
                    .action {
                        color: $secondary;
                        font-size: 0.8rem;
                        font-weight: 400;
                    }
    
                }
            
            }
    
            i {
                color: $grey;
            }
        }
    
        .card-content {
            margin-bottom: 20px;
            
            img {
                width: 100%;
                height: 180px;
                border-radius: 15px;

            }
        }
    
    }

}