// Margin max-width 
$container-width: 1270px;

// Template Color
$bg-color:  #131419;
$dark: #1C1C24;
$grey: #2D2D3A;
$secondary: #5F5F6F; 
$danger: #E24444;
$primary: #4447E2;
$success: #50D86A;
$light: #FFFFFF;

